# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.csv
*.conf

# Runtime lock/cache
.ha_run.lock
.ha_run_lock
.cache
__pycache__
*.pyc

# Directory (contents) ignores
.vscode
.cloud
.storage
deps
tts
image

# Built-in blueprints ignores
blueprints/*/homeassistant

# Vendored ignores
custom_components/*/*
# Add these anyway
!custom_components/*/manifest.json

# Specific file ignores
ip_bans.yaml
secrets.yaml
mqtt_dump.txt
watchman_report.txt

# Camera snapshots
www/camera_snapshots

# OS junk
.DS_Store
Thumbs.db