# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.csv
*.conf

# Directory (contents) ignores
.vscode
.cloud
.storage
deps
tts
image

# Built-in blueprints ignores
blueprints/*/homeassistant
blueprints/*/ui_lovelace_minimalist

# Vendored ignores
custom_components/*/*

# Add these anyway
!custom_components/*/manifest.json

# Specific file ignores
ip_bans.yaml
secrets.yaml
mqtt_dump.txt
watchman_report.txt
